---
layout: page
title: Blog
---
<div class="section-container">
    <div class="container">
        <div class="row resume-row-label">
            <div class="col-xs-12">
                <div class="template-example">
                    <h2 class="template-title-example">Latest Posts</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container posts">
        <!-- {% for post in site.posts %}
        <div class="row">
            <div class="col-xs-12">
                <div class="template-example">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
                </div>
            </div>
        </div>

        {% endfor %} -->
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>